*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer{
    background-color: #24292f;
    height: 400px;
    color: white;
    margin-top: auto;
}
.home-slider-title{
    font-size: 2.1rem;
    color: black;
    font-weight: 500;
    margin-left: 20px;
    margin-bottom: 10px;
}
