:root {
  --link-color: #201321;
  --link-visited-color:  #5b4c5f;
  --link-hover-color:rgb(118, 178, 187);
  --link-active-color:rgb(118, 178, 187);
  --background:#000315;
  --text-color:#c7c7fa;
  --primary-color:rgb(0, 106, 255);
  --secondary-color:#005a75;
  --accent-color:#f28c8c;
  --theme-btn-background:#c7c7fa;
  --opposite-text-color:#050538;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}
#root{
  display: flex;
  flex-direction: column; 
  min-height: 100vh;
}
a{
  text-decoration: none;
}
dialog{
  position: fixed;
  top: 10%;
  /* left: 18%; */
}
dialog::backdrop{
  background: #000000c7;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 100px;
}
@media (prefers-color-scheme: light) {
  :root {

    --background:#fff;
    --text-color:#050538;
    --primary-color:rgb(0, 106, 255);
    --secondary-color:#8ae4ff;
    --accent-color:#730d0d;
    --theme-btn-background:#24292f;
    --opposite-text-color:#c7c7fa;
  }

}
